/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 1em 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .filter-group {
    float: right;
  }

  .task-list {
    margin-top: 15px;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.todo-list {
  padding-left: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.todo-list li {
  padding: 20px 50px;
  font-size: 1.5em;
  border-bottom: solid 1px #eee;
  position: relative;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-icon {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 4px;
  margin: auto 0 !important;
  height: 1em;
  -webkit-appearance: none;
  appearance: none;
  padding-bottom: 10px;
}


.task-list {
  padding-left: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.task-list li {
  padding: 20px 52px;
  font-size: 1.5em;
  border-bottom: solid 1px #eee;
  position: relative;
}

.task-list li:last-child {
  border-bottom: none;
}

.task-rm {
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 32px;
}

.task-check {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 4px;
  margin: auto 0 !important;
  height: 1em;
  opacity: 0.2;
  -webkit-appearance: none;
  appearance: none;
  padding-bottom: 10px;
  cursor: pointer;
  outline: none !important;
}

.task-complete {
  color: rgba(0,0,0,0.5);
  text-decoration: line-through;
}

.task-check:checked {
  opacity: 1;
  color: #2b4;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.task-check:after {
  content: '\e013';
}

.dropdown-menu {
  max-width: 200px;
}
.dropdown-menu li {
  cursor: pointer;
}

.task-filter {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.task-filter li {
  display: inline-block;
  padding: 5px;
}

.task-filter li.active a {
  color: #000;
  font-weight: bold;
}

@media (max-width: 768px) {

  .task-filter {
    list-style-type: none;
    display: block;
  }

  .task-check {
    left: 14px;
  }

  .task-rm {
    right: 10px;
  }

  .task-list li {
    font-size: 1.2em;
    padding: 20px 42px;
  }

  .form-group {
    display: inline-block;
    margin-bottom: 15px;
  }
}

