doctype html
html
  head
    title Todo App
    script(src="/public/templates.js", type="text/javascript")
    link(rel='stylesheet', href='/public/style.css')
  body
    noscript
      span Javascript is disabled for your browser
    block content