!!!5
html
	head
		title #{title}
		script(src="http://code.jquery.com/jquery-1.10.2.min.js", type="text/javascript")
		script(src="http://malsup.github.io/min/jquery.form.min.js", type="text/javascript")
		script(src="/public/davis.min.js", type="text/javascript")
		script(src="/public/constants.js", type="text/javascript")
		script(src="/public/ajax.js", type="text/javascript")
		script(src="/public/templates.js", type="text/javascript")
		link(rel='stylesheet', href='/public/style.css')
	body
		noscript
			span Javascript is disabled for your browser
		block content