extend layout
block content
	h1 Settings
	a(href=CONSTANTS.INDEX.ROUTE) Index
	.notification
		p Saved successfully!!
	form(name="settings", action=CONSTANTS.SETTINGS.ROUTE, method="post")
		input(type="text", name="name", placeholder="Name", value=data.name)
		input(type="text", name="email", placeholder="Email", value=data.email)
		input(type="submit", value="Save")