<div>
  <form role="form" class="form-inline">
    <div class="form-group">
      <input id="task-input" class="form-control" type="text" ng-model="newTodoTitle" placeholder="Name your todo list" maxlength="20" autocomplete="off" autocapitalize="off" spellcheck="false">
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit" ng-click="createTodo(newTodoTitle)" ng-disabled="!newTodoTitle"><span class="glyphicon glyphicon-plus"></span> New Todo</button>
    </div>
  </form>
  <h1>All Todos</h1>
  <hr>
  <ul class="todo-list" ng-show="todos.todos.length">
    <li ng-repeat="todo in todos.todos track by $index">
      <span class="todo-icon glyphicon glyphicon-th-list"></span> <a ng-href="/{{todo.todoid}}">{{todo.title}}<a>
    </li>
  </ul>
</div>
